<div class="jumbotron">
  <div class="container">
    <h1>Genres</h1>
    <p><h3>Here are all the Genres!</h3></p>
  </div>
</div>

<div class="container">
  <%= link_to "New Genre", new_genre_path, class: "btn btn-primary" %>
  <br>
  <br>
  <div class="row">
    <% @genres.each do |genre| %>
      <div class="col-md-3">
        <h3><%= link_to "#{genre.name.split(" ").map(&:capitalize).join(" ")}", genre_path(genre) %></h3>
      </div>
    <% end %>
  </div>
</div>
