<h1>Add a New Game to <%= @genre.name %></h1>

<%= render "form" %>

<br>


<%= link_to "Back to #{@genre.name.split(" ").map(&:capitalize).join(" ")} Genre", genre_path(@genre), class: "btn btn-primary" %>
