<div class="jumbotron">
      <div class="container">
        <h1>Game Tracker</h1>
        <p>This is a Game tracker app that was done using ruby on rails and bootstraps!</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <h2>Game Tracker</h2>
          <p>This app was use to implement everything that we learned in class.</p>
          
        </div>
      </div>
    </div>
